@{
    Layout = null;
}

@using Ders2_MVC_Razor.Models

@model List<SiparisListesiModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        
        <table class="table table-bordered">
            
            <thead>

                <tr class="table-active">
                    <td>Id</td>
                    <td>ÜrünAdı</td>
                    <td>SiparişTarihi</td>
                    <td>MüşteriAdıSoyadı</td>
                    <td>Fiyat</td>
                    <td>KargoMaliyeti</td>
                    <td>TeslimEdildiMi</td>
                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UrunAdi</td>
                        <td>@item.SiparisTarihi</td>
                        <td>@item.MusteriAdiSoyadi</td>
                        <td>@item.Fiyat</td>
                        <td>
                            @if (item.KargoMaliyeti == 0)
                            {
                                <span>Ücretsiz</span>
                            }
                            else
                            {
                                <span>@item.KargoMaliyeti</span>
                            }
                        </td>
                        <td>
                            @if (item.TeslimEdildiMi == true)
                            {
                                <span>Teslim Edildi</span>
                            }
                            else
                            {
                                <span>Teslim Edilmedi</span>
                            }
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</body>
</html>
